# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/build/
.migrated/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode related
.vscode/

# macOS specific
.DS_Store

# Android Studio related
/android/app/debug
/android/app/profile
/android/app/release

# Dart & Flutter build artifacts
*.dart_tool/
.flutter-plugins/
*.flutter-plugins-dependencies

# Xcode specific
ios/Flutter/Flutter.podspec
ios/Podfile.lock
ios/.symlinks/
ios/Pods/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.history
.svn/
.atom/
migrate_working_dir/

# Obfuscation related
app.*.map.json

# Symbolication related
app.*.symbols

# Build/outputs
*.apk
*.aab
*.ipa
